.main {
	max-height: 50vh;
}

.mainContent {
	display: flex;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}

.punkHightlight {
	flex: 0.25;
	display: flex;
	align-items: center;
	justify-content: center;
}

.punkContainer {
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	margin-right: 20px;
}

.selectedPunk {
	object-fit: contain;
	max-width: min(30vw, 40vh);
	max-height: 30vw;
}

.punkDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0.75;
}

.title {
	font-size: 90px;
	font-weight: 800;
}

.itemNumber {
	color: #a1a5be;
	font-size: 72px;
	font-weight: 750;
}

.owner {
	display: flex;
	margin: 10px 0;
	height: 50px;
}

.owner > div {
	margin: 0 5px;
}

.ownerImageContainer {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border-radius: 50px;
	overflow: hidden;
	object-fit: contain;
}

.ownerImageContainer > img {
	height: 100%;
	width: 100%;
}

.ownerDetails {
	display: flex;
	align-items: center;
	flex: 1;
}

.ownerNameAndHandle {
	flex: 1;
}

.ownerHandle {
	color: #00ebfe;
}

.ownerAddress {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.ownerLink {
	padding: 12px;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	border: 1px solid #fff;
	margin: 0 0 0 10px;
}

.ownerLink > a > img {
	height: 100%;
	width: 100%;
}
