.punkList {
	cursor: pointer;
	display: flex;
	overflow: scroll;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
	scrollbar-width: none;
}

.punkList::-webkit-scrollbar {
	display: none;
}
